{% extends "base.html" %}

{% block content %}

<div class="container center" style="justify-content:center; padding-left:25%;">

<div class="card mx-auto" style="width:70%; margin-top:40px;">
      <div class="card-body">
      {% include 'includes/alerts.html' %}
      <h4 class="card-title mb-4" style="text-align:center;">Insira o seu endereço de email</h4>
      
      <form action="{% url 'forgot_password' %}" method='POST'>
      {% csrf_token %}
          <div class="form-group">
			 <input type="email" name="email" class="form-control" placeholder="Email" >
          </div> <!-- form-group// -->
          
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" style="background-color:black; color:#00d7b8; border-color: #00d7b8;">Enviar</button>
          </div> <!-- form-group// -->  
      </form>
      </div> <!-- card-body.// -->
       <p style="text-align:center;">Você lembra da sua senha?<a href="{% url 'login' %}"> Login</a></p>
    </div> <!-- card .// -->
</div>


{% endblock content %}