{% extends "base.html" %}

{% block content %}

<!-- container -->
<div class="container center" style="justify-content:center; padding-left:25%;">

{% if request.GET.command == 'verification' %}

<div class="container mx-auto" role="alert"  style="width:70%; margin-top:40px;">

<p style="padding-right:40%;">Obrigado por registrar uma conta conosco. Vá para <strong> {{ request.GET.email }}</strong> e clique no link de ativação.</p>

</div>

{% else %}


	<div class="card mx-auto" style="width:100%; margin-top:40px;">
      <div class="card-body">
      {% include 'includes/alerts.html' %}
      <h4 class="card-title mb-4" style="justify-content: center; padding-left:45%;">Entrar</h4>
    
      <form action="{% url 'login' %}" method='POST'>
      {% csrf_token %}
          <div class="form-group">
			 <input type="email" name="email" class="form-control" placeholder="Endereço de Email" >
          </div> <!-- form-group// -->
          <div class="form-group">
			<input type="password" name="password" class="form-control" placeholder="Senha" >
          </div> <!-- form-group// -->
          
          <!-- form-group form-check .// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" style="background-color:black; color:#00d7b8; border-color: #00d7b8;"> Login  </button>
          </div> <!-- form-group// -->    
      </form>
      <div class="form-group">
          	 <p style="text-align:center;"><a href="{% url 'forgot_password' %}">Esqueceu sua senha?</a></p>
          </div> 
      </div> <!-- card-body.// -->
       <p style="text-align:center;">Não tem conta? <a href="{% url 'register' %}">Inscrever-se</a></p>
    </div> <!-- card .// -->
    {% endif %}
</div>

{% endblock content %}