{% extends "base.html" %}

{% block content %}




<!-- container -->
<div class="container center">
    <div class="card mx-auto">
      <article class="card-body">
	  				{% include 'includes/alerts.html' %}
								  <div class="text-danger" style= color:red;>
									  {{ form.email.errors }} {{ form.tel.errors }}
									</div>
				    {{ form.non_field_errors }}
		  <br>
		<header class="mb-4" style="text-align:center;"><h4 class="card-title">Inscrever-se</h4></header>
		<form action="{% url 'register' %}" method='POST'>
		{% csrf_token %}

				<div class="form-row">
					<div class="col form-group">
						<label>Nome</label>
					  	{{ form.f_name }}
					</div> <!-- form-group end.// -->
					<div class="col form-group">
						<label>Sobrenome</label>
					  	{{ form.l_name }}
					</div> <!-- form-group end.// -->
				</div> <!-- form-row end.// -->
				<div class="form-group">
					<label>Email</label>
					{{ form.email }}
					<small class="form-text text-muted">Nunca compartilharemos seu e-mail com mais ninguém.</small>
				</div> <!-- form-group end.// -->


				<div class="form-group"}>
					<label>Telefone</label>
					{{ form.tel }}
					<small class="form-text text-muted">Nunca compartilharemos seu telefone com mais ninguém.</small>
				</div>


				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Criar senha</label>
					    {{ form.password }}
					</div> <!-- form-group end.// -->
					<div class="form-group col-md-6">
						<label>Repetir senha</label>
					    {{ form.confirm_password }}
					</div> <!-- form-group end.// -->
				</div>
			    <div class="form-group">
			        <button type="submit" class="btn btn-primary btn-block" style="background-color:black; color:#00d7b8; border-color: #00d7b8;"> Registrar  </button>
				</div> <!-- form-group// -->

	</div> <!-- form-row.// -->
			</form>
		</article><!-- card-body.// -->
	</div> <!-- card .// -->
	<div>
    <p style="text-align:center;">Já tem uma conta ? <a href="{% url 'login' %}">Login</a></p>
    </div>
</div>
<!-- /container -->

{% endblock content %}