{% extends 'base.html' %}

{% block content %}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        {% include 'includes/alerts.html' %}
        <!-- row -->
        <div class="row">
            <div class="col-md-7">
                <!-- Billing Details -->
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Dados Cliente</h3>
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="f_name" placeholder="Nome" value="{{ user_chek.f_name }}"
                               readonly>
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="l_name" placeholder="Sobrenome"
                               value="{{ user_chek.l_name }}" readonly>
                    </div>
                    <div class="form-group">
                        <input class="input" type="tel" name="tel" placeholder="Telefone" value="{{ user_chek.tel }}"
                               readonly>
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="city" placeholder="cidade" value="{{ city }}" readonly>
                    </div>
                    <div class="form-group">
                        <input class="input" type="text" name="email" placeholder="email" value="{{ user_chek.email }}"
                               readonly>
                    </div>
                </div>
                <!-- /Billing Details -->
            </div>
            <!-- Order Details -->
            <div class="col-md-5 order-details">
                <div class="section-title text-center">
                    <h3 class="title">Seu orçamento</h3>
                </div>
                <div class="order-summary">
                    <div class="order-col">
                        <div><strong>Produtos</strong></div>
                        <div><strong>TOTAL</strong></div>
                    </div>
                    <div class="order-products">
                        {% for item in cart_items %}
                        <div class="order-col">
                            <div>{{item.product.name}} <b> x {{item.quantity}}</b></div>
                            <div>R$ {{item.subtotal}}</div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="order-col">
                        <div><strong>Total Compras</strong></div>
                        <div><strong class="order-total">R${{grand_total}}</strong></div>
                    </div>
                </div>

                <form id="pedidoForm" method="post" action="{% url 'orders:gerar_orcamento' %}">
                    {% csrf_token %}
                    <input type="hidden" name="f_name" value="{{ user_chek.f_name }}">
                    <input type="hidden" name="l_name" value="{{ user_chek.l_name }}">
                    <input type="hidden" name="tel" value="{{ user_chek.tel }}">
                    <input type="hidden" name="email" value="{{ user_chek.email }}">
                    <input type="hidden" name="city" value="{{ city }}">
                    <input type="hidden" name="order_total" value="{{ grand_total }}">
                    <button type="submit" class="primary-btn order-submit btn-lg"
                            style="background-color:black;color:#00d7b8; padding: 10px 112px; font-size: 18px;">Gerar
                        Orçamento
                    </button>
                </form>
                <script>
                    function openPdfWindow() {
                        // Submeter o formulário
                        document.getElementById("pedidoForm").submit();

                        // Redirecionar a página atual de volta para o menu inicial
                        window.location.href = '{% url "store" %}';
                    }
                </script>
                <a href="{% url 'store' %}" class="primary-btn order-submit"
                   style="background-color:black;color:#00d7b8;">Continue Comprando</a>
            </div>
            <!-- /Order Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
{% endblock content %}

		