{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- ASIDE -->
			<div id="aside" class="col-md-3">
						<div class="container">
							<!-- responsive-nav -->
							<div id="responsive-nav">
								<!-- NAV -->
								<ul class="main-nav nav navbar-nav">
									<li>
										<h3 class="aside-title">Categorias</h3>
										<ul class="category-list">
											{% for catg in cat_links %}
											<li>
												<a class="categelems" href="{{ catg.get_url }}">{{ catg.name }}</a>
											</li>
											{% endfor %}
										</ul>
									</li>
								</ul>
							</div>
						</div>
				<!-- /aside Widget -->
					<nav id="navigation">
						<!-- aside Widget -->
						<div class="aside">
							<h3 class="aside-title">Mais vendidos</h3>
							{% for product in topSelling_products %}
							<div class="product-widget">
								<div class="product-img">
									<img src="{{ product.product_image.url }}" alt="{{ product.alt_text }}">
								</div>
								<div class="product-body">
									<p class="product-category">{{ product.category }}</p>
									<h3 class="product-name"><a href="{{ product.get_url}}">{{ product.name | truncatewords:"10" }}</a></h3>
									<h4 class="product-price">{% if product.discount_price %} R$ {{ product.discount_price }} <del class="product-old-price">R$ {{ product.price }}</del></h4>{% else %}<h4>R$ {{ product.price }}</h4>{% endif %}
								    {% if product.stock < 1 %}
									<h6 style="color:red;">fora de estoque</h6>
									{% endif %}
								</div>
							</div>
							{% endfor %}
						</div>
					</nav>
						<!-- /aside Widget -->
					</div>
						<!-- /ASIDE -->
					<!-- STORE -->

					<div id="store" class="col-md-9">
						<!-- store products -->
						<div class="row">
							<!-- product -->
							{% if products %}
							{% for product in products %}
							<div class="col-md-3">
								<div class="product">
									<div class="product-img">
										<img src="{{ product.product_image.url }}" alt="{{ product.alt_text }}">
										{% if product.discount_price > 0 %}
												<div class="product-label">
													<span class="sale">{{ product.discount_percentage }}%</span>
													<span class="new">Desconto</span>
												</div>
										{% endif %}
									</div>
									<div class="product-body">
										<p class="product-category">{{ product.category }}</p>
										<h3 class="product-name"><a href="{{ product.get_url}}">{{ product.name | truncatewords:"10" }}</a></h3>
										<h4 class="product-price">{% if product.discount_price %} R$ {{ product.discount_price }} <del class="product-old-price">R$ {{ product.price }}</del></h4>{% else %}<h4>R$ {{ product.price }}</h4>{% endif %}
										<div class="product-rating">
											{% if single_product.average_rating == 1 %}
														<i class="fa fa-star"></i>
														{% elif product.average_rating == 2 %}
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														{% elif product.average_rating == 3 %}
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														{% elif product.average_rating == 4 %}
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														{% elif product.average_rating == 5 %}
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														{% elif product.average_rating == 0 %}
														<i class="fa fa-star-o empty"></i>
														{% endif %}
										</div>
									</div>
									{% if product.stock < 1 %}
											<div class="add-to-cart">
												<h6 style="color:red">fora de estoque</h6>
											</div>
											{% else %}
									<div class="add-to-cart">
										<a href="{% url 'add_cart' product.id %}" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Carrinho</a>
									</div>
									{% endif %}
							    </div>
							</div>
							<!-- /product -->
							{% endfor %}
							{% else %}
							<div>
							<h4>Nenhum item encontrado.</h4>
							</div>
							{% endif %}
						</div>
						<!-- /store products -->

						<!-- store bottom filter -->
						<div class="store-filter clearfix">

						{% if products.has_other_pages %}

							<ul class="store-pagination">

							    {% if products.has_previous %}

							    <li><a href="?page={{products.previous_page_number}}"><i class="fa fa-angle-left"></i></a></li>

                                {% else %}

								<li style="pointer-events:none;"><a href="#"><i class="fa fa-angle-left"></i></a></li>

                                {% endif %}

                                {% for num in products.paginator.page_range %}

								  {% if products.number == num %}

								      <li class="active">{{num}}</li>

								  {% else %}

	                                  <li><a href="?page={{num}}">{{num}}</a></li>

                                  {% endif %}

								{% endfor %}

								{% if products.has_next %}


								<li><a href="?page={{products.next_page_number}}"><i class="fa fa-angle-right"></i></a></li>

								{% else%}

								<li style="pointer-events:none;"><a href="#"><i class="fa fa-angle-right"></i></a></li>
								{% endif %}
							</ul>
							{% endif %}
						</div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->


{% endblock content %}